<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


<!--    android:allowCrossUidActivitySwitchFromBelow="false"  android15阻止与堆栈顶部 UID 不匹配的应用启动
        android:enableOnBackInvokedCallback="true" 预测返回动画-->


    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        android:allowCrossUidActivitySwitchFromBelow="false"
        tools:replace="android:allowBackup"
        tools:targetApi="35">
        <activity
            android:name=".ComposeUIActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FoundationActivity"/>
        <activity android:name=".ui.AnimationActivity"/>
        <activity android:name=".ui.MotionLayoutActivity"/>
        <activity android:name=".ui.CollapsingActiivty"/>
        <activity android:name=".ui.BottomBar_PagerActivity"/>
        <activity android:name=".ui.PreviewByViewmodelActivity"/>
        <activity android:name=".ui.PintuActivity"/>
        <activity android:name=".ui.Animation2Activity"/>
        <activity android:name=".ui.coordinator.CoordinatorLayoutActivity"/>
        <activity android:name=".ui.coordinator.CoordinatorLayout2Activity"/>
        <activity android:name=".ui.coordinator.CoordinatorLayoutNatigationAct"/>
        <activity android:name=".ui.coordinator.CoorGenSui"/>
        <activity android:name=".ui.ZhuanPanActivity"/>
        <activity android:name=".ui.Game2048Activity"/>
        <activity android:name=".ui.WhackMoleActivity"/>
        <activity android:name=".ui.GamesActivity"/>
        <activity android:name=".ui.ShareTransitionActivity"/>
        <activity android:name=".ui.singleActMutilScreen.SingleActivityMutilScreen"/>



<!--        <service android:name=".CFNService"-->
<!--            android:process="com.ser.tt"/>-->
    </application>

</manifest>